* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

ul {
    list-style-type: none;
}

p {
    margin-block: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
}