#frequently-asked-question {
    margin-top: 6rem;
}

#frequently-asked-question .intro {
    margin-top: 1.6rem;
}

.faq__list {
    margin-top: 5rem;
    padding: 5.6rem 18.2rem;
    background-color: $gray;
    border-radius: 2rem;
}

.faq__list .question {
    padding: 2.4rem;
    background-color:  #272932;
    border-radius: 0.8rem;
    text-align: left;
    gap: 2.4rem;
}

.question:not(:first-child) {
    margin-top: 1.8rem;
}

.question__number {
    display: inline-block;
    min-width: 4.9rem;
    height: 4.9rem;
    background-color: #2D2F37;
    border: 0.2rem #3E4047 solid;
    border-radius: 50%;
    color: #9A9BA1;
    text-align: center;
    font-size: 1.8rem;
    line-height: 4.9rem;
    vertical-align: middle;
    font-weight: 600;
    letter-spacing: -0.018rem;
}

.question__title {
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: -0.018rem;
}

.question__answer {
    color: #696B76;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem; 
}

.cta {
    text-align: center;
    margin-top: 10rem;
    background-color: #F25D46;
    background-image: url("/assets/images/cta-background.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4rem 0;
    border-radius: 1.2rem;
}

.cta > h3 {
    color: #FFF;
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 4.6rem;
    letter-spacing: -0.09rem;
}

.cta > p {
    margin-top: 1rem;
    color: #FFF;
    font-size: 1.6rem;
}

.cta-btn {
    margin-top: 4rem;
}

.cta-btn__background {
    display: inline-block;
    width: 14.6rem;
    height: 6.6rem;
    background: linear-gradient(180deg, #FF7763 0%, #EA6955 100%);
    border-radius: 0.8rem;
    position: relative;
}

.cta-btn a {
    position: absolute;
    display: inline-block;
    width: 12.6rem; 
    height: 4.6rem;
    border-radius: 0.8rem;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 4.6rem;
    box-shadow: 0 1.4rem 2rem 0 rgba(72, 43, 31, 0.07);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cta-btn a:first-child {
    background-color: #FFF;
    color: black;
}

.cta-btn__background:nth-child(2) {
    margin-left: 2rem;

    a {
        color: #fff;
        background-color: transparent;
        border: 1px solid #FFF;
    }
}