#how-it-works {
    margin-top: 10.8rem;
}

#how-it-works > .steps {
    margin-top: 6.5rem;
    padding: 7rem 16rem;
    background-color: $gray;
    border-radius: 2rem;
}

.step {
    gap: 18rem;
    text-align: left;
}

.step:nth-child(even) {
    margin-top: 4.8rem;
    flex-direction: row-reverse;
    text-align: right;
}

.step:last-child {
    margin-top: 5.4rem;
}

.step__image-container {
    width: 33.5rem;
    height: 17.5rem;
    background-color: #272932;
    border-radius: 1.2rem;
}

.step-info {
    position: relative;;
}

.step-info > .title {
    margin-top: 2.5rem;
    font-size: 2.4rem;
    line-height: 2.9rem;
    font-weight: 600;
}

.step-info > .intro {
    margin-top: 1.6rem;
    font-size: 1.6rem;
    line-height: 2.4rem;
}

.step-info > .step__number {
    line-height: 6rem;
    text-align: center;
    display: block;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background-color: #2D2F37;
    border: 0.2rem solid rgba(255,255,255,0.08);

    color: #FFF;
    font-size: 2rem;
    font-weight: 500;
    position: absolute;
    right: calc(100% + 6rem);
    top: 2.5rem
}

.step:nth-child(even) .title {
    top: 2.8rem;
}

.step:nth-child(even) .step__number {
    top: 2.8rem;
    left: calc(100% + 6rem);
}

.step:nth-child(even) .step__number::before,
.step:nth-child(even) .step__number::after {
    content: "";
    display: block;
    height: 16.6rem;
    border-left: 0.2rem dashed #3E4047;
    position: absolute;
    left: 50%;
}

.step:nth-child(even) .step__number::before {
    bottom: 100%;
}

.step:nth-child(even) .step__number::after {
    top: 100%;
}


