#what-we-do {
    margin-top: 10.8rem;
}

#what-we-do > .intro {
    margin-top: 1.6rem;
    font-size: 1.6rem;
    line-height: 2.4rem;
    letter-spacing: -0.032rem;
}

.what-we-do__cards {
    gap: 2rem;
}

.what-we-do__cards {
    margin-top: 8.4rem;
}

.what-we-do__cards > .card__left {
    padding-left: 5rem;
    background-color: $gray;
    width: 57.5rem;
    text-align: left;
    border-radius: 2rem;
}

.jobs-nav {
    margin-top: 4rem;
}

.jobs-list {
    gap: 1.2rem;
}

.job {
    background-color: #2A2C34;
    padding: 1.2rem 1.6rem;
    border-radius: 0.6rem;
}

.job--active {
    background-color: #4F5054;
}

.job > a {
    color: #FFF;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: -0.014rem;
}

.card__left > .title {
    margin-top: 8.4rem;
    font-size: 3rem;
    font-weight: 600;
    line-height: 3.6rem;
    letter-spacing: -0.03rem;
}

.card__left > .intro {
    margin-top: 1.6rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    letter-spacing: -0.032rem;
}

.card__left > .btn-with-arrow {
    margin-top: 4rem;
}